### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#create dataframe of total players
t_players = pd.DataFrame({'Total Players': [purchase_data.SN.nunique()]})
#display dataframe
t_players.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#find the number of unique items
unique_items = len(pd.unique(purchase_data['Item Name']))
#find and round the average price
ave_price = purchase_data.Price.mean()
ave_price = round(ave_price, 2)
#find the total number of purchases
purchase_total = len(pd.unique(purchase_data['Purchase ID']))
#find total revenue
total_rev = purchase_data.Price.sum()
total_rev = round(total_rev, 2)
#create dataframe with new values
summary_data = pd.DataFrame(
    {'Number of Unique Items':[unique_items],
     'Average Price':[ave_price],
     'Number of Purchases':[purchase_total],
     'Total Revenue':[total_rev]})
#format columns to represent dollar amounts
summary_data['Average Price'] = summary_data['Average Price'].map("${:.2f}".format)
summary_data['Total Revenue'] = summary_data['Total Revenue'].map("${:,.2f}".format)
#display summary dataframe
summary_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#group original dataframe by gender
gender_index = purchase_data.groupby(['Gender'])
#find unique gender count
gendered_count = gender_index.SN.nunique()
#create variable for total unique players
unique_players = len(purchase_data.SN.unique())
#find percentages of players
player_percent = gendered_count / unique_players * 100
player_percent = round(player_percent, 2)
#create dataframe with gendered_count and player_percent
gender_frame = pd.DataFrame({'Total Count': gendered_count, 'Percentage of Players': player_percent})
#format percentage column
gender_frame['Percentage of Players'] = gender_frame['Percentage of Players'].map("{:.2f}%".format)
#sort and display dataframe
gender_frame = gender_frame.sort_values('Total Count', ascending=False)
gender_frame

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#use gender_index groupby to obtain gendered:
#purchase counts
purchase_counts = gender_index['Purchase ID'].count()
#avg. price
avg_gen_price = round(gender_index['Price'].mean(), 2)
#total value
tot_gen_price = round(gender_index['Price'].sum(), 2)
#avg. total / individual person
pur_person = round(tot_gen_price / gendered_count, 2)
#create dataframe with these values
gender_analysis = pd.DataFrame({'Purchase Count': purchase_counts,
                              'Average Purchase Price': avg_gen_price,
                              'Total Purchase Value': tot_gen_price,
                              'Avg Total Purchase per Person': pur_person})
#format money columns
gender_analysis['Average Purchase Price'] = gender_analysis['Average Purchase Price'].map("${:,.2f}".format)
gender_analysis['Total Purchase Value'] = gender_analysis['Total Purchase Value'].map("${:,.2f}".format)
gender_analysis['Avg Total Purchase per Person'] = gender_analysis['Avg Total Purchase per Person'].map("${:,.2f}".format)
#display dataframe
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#create age bins of 8 categories
age_num = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
age_set = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
#cut original dataframe using bins
purchase_data['Age Set'] = pd.cut(purchase_data['Age'], age_num, labels=age_set)
#group by age sets
age_data = purchase_data.groupby(['Age Set'])
#count total unique players
age_count = age_data['SN'].nunique()
#calculate percentage of total unique players
per_age = round(age_count / unique_players * 100, 2)
#create dataframe
age_grouping = pd.DataFrame({'Total Count': age_count,
                            'Percentage of Players': per_age})
#format dataframe
age_grouping['Percentage of Players'] = age_grouping['Percentage of Players'].map("{:.2f}%".format)
age_grouping.index.name = None
age_grouping

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#find unique purchases
age_upur = age_data['Purchase ID'].count()
#find average purchase price
age_price = round(age_data['Price'].mean(), 2)
#find total purchase value
age_tpur = age_data['Price'].sum()
#find avg. total price per person
age_purchase_person = round(age_tpur / age_count, 2)
#create dataframe
age_analysis = pd.DataFrame({'Purchase Count': age_upur,
                            'Average Purchase Price': age_price,
                            'Total Purchase Value': age_tpur,
                            'Avg Total Purchase per Person': age_purchase_person})
#format money cells
age_analysis['Average Purchase Price'] = age_analysis['Average Purchase Price'].map("${:,.2f}".format)
age_analysis['Total Purchase Value'] = age_analysis['Total Purchase Value'].map("${:,.2f}".format)
age_analysis['Avg Total Purchase per Person'] = age_analysis['Avg Total Purchase per Person'].map("${:,.2f}".format)
age_analysis.index.name = 'Age Ranges'
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#group original dataframe by usernames
usn_df = purchase_data.groupby(['SN'])
#find the purchase count
pur_count = usn_df['Purchase ID'].count()
#find the average purchase price
big_avg = round(usn_df.Price.mean(), 2)
#find the sum of all a user's purchases
big_sum = round(usn_df.Price.sum(), 2)
#create dataframe of top spenders
big_spender = pd.DataFrame({'Purchase Count': pur_count,
                           'Average Purchase Price': big_avg,
                           'Total Purchase Value': big_sum})
#sort dataframe in descending order
big_spender = big_spender.sort_values('Total Purchase Value', ascending=False)
#format money columns
big_spender['Average Purchase Price'] = big_spender['Average Purchase Price'].map("${:,.2f}".format)
big_spender['Total Purchase Value'] = big_spender['Total Purchase Value'].map("${:,.2f}".format)
big_spender.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#make dataframe of Item ID, Item Name, and Item Price
data = purchase_data[['Item ID', 'Item Name', 'Price']]
#group by Item ID and Item Name
popular_data = data.groupby(['Item ID', 'Item Name'])
#find purchase count
popular_purchases = popular_data['Item ID'].count()
#find item's average price
popular_prices = round(popular_data['Price'].mean())
#find total purchase value
popular_total = popular_data['Price'].sum()
#create dataframe
popular_items = pd.DataFrame({'Purchase Count': popular_purchases,
                             'Item Price': popular_prices,
                             'Total Purchase Value': popular_total})
#format money columns
popular_items['Item Price'] = popular_items['Item Price'].map("${:,.2f}".format)
popular_items['Total Purchase Value'] = popular_items['Total Purchase Value'].map("${:,.2f}".format)
#sort dataframe in descending order
popular_items = popular_items.sort_values('Purchase Count', ascending=False)
popular_items.head()

C:\Users\Noni Bell\anaconda3\lib\site-packages\pandas\core\ops\roperator.py:25: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return right / left

ValueError: operands could not be broadcast together with shapes (179,2) (179,)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame